
#content-area{
  overflow: auto;
  width: 100%;
}

#filter{
  background-color: $grey;
  // width: 30%;
  display: inline-block;
  float: left;

  .inside{
    padding: 20px;
    max-width: 300px;
  }

  h4{
    font-size: .9rem;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;
    color: $darkgrey;
  }

  select{
    background: transparent;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #1b1b1b;
    display: block;
    margin-bottom: 25px;
    color: $darkgrey;
    width: 100%;
  }

  .filters{

    .title{
      font-size: .9rem;
      display: block;
      margin-bottom: 1rem;
      color: $darkgrey;
    }
    input[type="text"]{
      border-radius: 5px;
      font-size: 1rem;
      padding: .4rem;
      width: 45%;
      display: inline-block;
      margin-right: 2.5%;
      margin-bottom: 1rem;
    }

    &.extras{
      label{
        display: block;
        width: 100%;
        padding: 10px 0;

        input[type="checkbox"]{
          float: right;
        }
      }
    }
  }
}



#listings{
  width: 70%;
  // float: right;
  display: inline-block;
  padding: 15px;
  background-color: $offWhite;

  .search-area{
    margin: 0 auto;

    input[type='text']{
      width: 70%;
      background: transparent;
      font-size: 2rem;
      border: none;
      border-bottom: 1px solid $darkgrey;
      // margin: 0 auto;
      text-align: center;
      margin-bottom: 20px;
      text-transform: capitalize;
      color: $darkgrey;
      outline: none;
    }
  }

  .sortBy-area{
    margin-bottom: 20px;

    .results{
      font-size: .8rem;
      margin-bottom: 20px;
      color: $darkgrey;
      display: inline-block;
    }

    .sort-options{
      float: right;

      select{
        font-size: .9rem;
        font-weight: 300;
        text-transform: uppercase;
        border: 1px solid $lightgrey;
        background: transparent;
        padding: 3px;
        display: inline-block;
        margin-right: 15px;
        vertical-align: top;
      }
      .view{
        display: inline-block;
        margin-right: 15px;
        .fas{
          font-size: 1.5rem;
          margin-right: 15px;
          cursor: pointer;

          &:hover{
            color: #ff718e;
          }
        }
      }

    }
  }
}


.listings-results{
  margin-bottom: 60px;

    // .listing{
    //   background-color: #fff;
    //   border-radius: 50%;
    //   -webkit-box-shadow: 0px 9px 40px -4px rgba(224,224,224,1);
    //   -moz-box-shadow: 0px 9px 40px -4px rgba(224,224,224,1);
    //   box-shadow: 0px 9px 40px -4px rgba(224,224,224,1);
    // }
    //this listing-img does not work.idk why
    // .listing-img{
    //   color: #fff;
    //   padding: 15px;
    //   position: relative;
    //   background: url('https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center;
    //   -webkit-background-size: cover;
    //   -moz-background-size: cover;
    //   -o-background-size: cover;
    //   background-size: cover;
    //   min-height: 240px;
    //   -webkit-border-top-left-radius: 5px;
    //   -webkit-border-top-right-radius: 5px;
    //   -moz-border-radius-topleft: 5px;
    //   -moz-border-radius-topright: 5px;
    //   border-top-left-radius: 5px;
    //   border-top-right-radius: 5px;
    //
    //     &:hover{
    //       .details{
    //         opacity: 1;
    //         transition: all .6s ease-in-out;
    //       }
    //       .address{
    //         opacity: 0;
    //       }
    //     }
    //
    //     .address{
    //       position: absolute;
    //       bottom: 20px;
    //       opacity: 1;
    //     }
    //
    //   .details{
    //     opacity: 0;
    //     padding: 30px;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     right: 0;
    //     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f331f9+0,2532c4+98 */
    //     background: rgba(243,49,249,0.8); /* Old browsers */
    //     background: -moz-linear-gradient(-45deg, rgba(243,49,249,1) 0%, rgba(37,50,196,0.8) 98%); /* FF3.6-15 */
    //     background: -webkit-linear-gradient(-45deg, rgba(243,49,249,1) 0%,rgba(37,50,196,0.8) 98%); /* Chrome10-25,Safari5.1-6 */
    //     background: linear-gradient(135deg, rgba(243,49,249,1) 0%,rgba(37,50,196,0.8) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f331f9', endColorstr='#2532c4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    //     -webkit-border-top-left-radius: 5px;
    //     -webkit-border-top-right-radius: 5px;
    //     -moz-border-radius-topleft: 5px;
    //     -moz-border-radius-topright: 5px;
    //     border-top-left-radius: 5px;
    //     border-top-right-radius: 5px;
    //
    //     .user-img{
    //       width: 40px;
    //       height: 40px;
    //       border-radius: 50%;
    //       border: 2px solid #fff;
    //       display: inline-block;
    //       margin-right: 20px;
    //       background: url('https://images.pexels.com/photos/842567/pexels-photo-842567.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center;
    //       -webkit-background-size: cover;
    //       -moz-background-size: cover;
    //       -o-background-size: cover;
    //       background-size: cover;
    //     }
    //
    //     .user-details{
    //       display: inline-block;
    //       vertical-align: top;
    //
    //       .user-name{
    //         display: block;
    //         color:rgba(255,255,255,1);
    //         font-size: .9rem;
    //         font-weight: 300;
    //         margin-top: 3px;
    //         margin-bottom: 5px;
    //       }
    //       .post-date{
    //         display: block;
    //         color:rgba(255,255,255,.7);
    //         font-size: .9rem;
    //       }
    //     }
    //     .listing-details{
    //       margin-top: 20px;
    //       margin-bottom: 10px;
    //
    //       .far, .fas{
    //         display: inline-block;
    //         font-size: 20px;
    //         margin-right: 15px;
    //       }
    //
    //       span{
    //         display: inline-block;
    //         font-size: .8rem;
    //         font-weight: 300;
    //         vertical-align: top;
    //         position: relative;
    //         top: 3px;
    //       }
    //
    //       .floor-space{
    //         margin-bottom: 15px;
    //       }
    //     }
    //   }
    // }
    // .bottom-info{
    //   padding: 20px 15px;
    //
    //   .price{
    //     font-size: 1rem;
    //     color: $darkgrey;
    //     text-transform: capitalize;
    //   }
    //   .location{
    //     font-size: 1.3rem;
    //     float: right;
    //     color: $darkgrey;
    //     text-transform: capitalize;
    //
    //     .fas{
    //       margin-right: 10px;
    //     }
    //   }
    // }
}

.listing{
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 9px 40px -4px rgba(224,224,224,1);
  -moz-box-shadow: 0px 9px 40px -4px rgba(224,224,224,1);
  box-shadow: 0px 9px 40px -4px rgba(224,224,224,1);
  margin-bottom: 50px;
}

.listing-img{
  color: #fff;
  padding: 15px;
  position: relative;
  // background: url('https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center;
  background-size: cover !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 240px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;

    &:hover{
      .details{
        opacity: 1;
        transition: all .6s ease-in-out;
      }
      .address{
        opacity: 0;
      }
    }

    .address{
      position: absolute;
      bottom: 20px;
      opacity: 1;
      text-shadow: 6px 5px 11px rgba(150, 150, 150, 1);
      transition: all .6s ease-in-out;
      text-transform: capitalize;
    }

  .details{
    opacity: 0;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -1px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f331f9+0,2532c4+98 */
    background: rgba(243,49,249,0.8); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(243,49,249,1) 0%, rgba(37,50,196,0.8) 98%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(243,49,249,1) 0%,rgba(37,50,196,0.8) 98%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(243,49,249,1) 0%,rgba(37,50,196,0.8) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f331f9', endColorstr='#2532c4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .user-img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid #fff;
      display: inline-block;
      margin-right: 20px;
      background: url('https://images.pexels.com/photos/842567/pexels-photo-842567.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .user-details{
      display: inline-block;
      vertical-align: top;

      .user-name{
        display: block;
        color:rgba(255,255,255,1);
        font-size: .9rem;
        font-weight: 300;
        margin-top: 3px;
        margin-bottom: 5px;
      }
      .post-date{
        display: block;
        color:rgba(255,255,255,.7);
        font-size: .9rem;
      }
    }
    .listing-details{
      margin-top: 20px;
      margin-bottom: 10px;

      .far, .fas{
        display: inline-block;
        font-size: 20px;
        margin-right: 15px;
      }

      span{
        display: inline-block;
        font-size: .8rem;
        font-weight: 300;
        vertical-align: top;
        position: relative;
        top: 3px;
      }

      .floor-space{
        margin-bottom: 15px;
      }
    }
  }
}

.bottom-info{
  padding: 20px 15px;

  .price{
    font-size: 1rem;
    color: $darkgrey;
    text-transform: capitalize;
  }
  .location{
    font-size: 1.3rem;
    float: right;
    color: $darkgrey;
    text-transform: capitalize;

    .fas{
      margin-right: 10px;
    }
  }
}


.view-btn{
    background-color: $pink;
    padding: 7px;
    font-size: .9rem;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    max-width: 150px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover{
      color: $pink;
      background-color: white;
    }
}

#pagination{
  text-align: center;

  .pagination-nums{
    // display: inline-block;
    li{
      display: inline-block;
      color: $pink;
      -webkit-box-shadow: 0px 9px 40px -4px rgba(224,224,224,1);
      -moz-box-shadow: 0px 9px 40px -4px rgba(224,224,224,1);
      box-shadow: 0px 9px 40px -4px rgba(224,224,224,1);
      cursor: pointer;
      font-size: 1.9rem;
      text-transform: uppercase;
      background-color: #fff;
      padding: 20px 30px;
      transition: all .5s ease-in-out;

      &.active,
      &:hover{
        background-color: $pink;
        color: white;
      }

    a{
      text-decoration: none;

    }
    }
  }
}



// testing pagination
// #pagination{
//   text-align: center;
//
//   .pagination-nums{
//     // display: inline-block;
//     li{
//       display: inline-block;
//       text-align: center;
//       margin: 0 10px;
//       color: $pink;
//       cursor: pointer;
//       font-size: 1.9rem;
//       text-transform: uppercase;
//       transition: all .5s ease-in-out;
//
//       &:hover{
//         transform:scale(1.3);
//       }
//     }
//   }
// }

.col-md-3{
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
}
.col-md-9{
  width: 75%;
  display: inline-block;
}

// .listing-img{
//   color: #fff;
//   padding: 15px;
//   position: relative;
//   background: url('https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   min-height: 240px;
//   -webkit-border-top-left-radius: 5px;
//   -webkit-border-top-right-radius: 5px;
//   -moz-border-radius-topleft: 5px;
//   -moz-border-radius-topright: 5px;
//   border-top-left-radius: 5px;
//   border-top-right-radius: 5px;
// }
